click==7.1.2
dominate==2.5.2
Flask
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
visitor==0.1.3
Werkzeug
WTForms
SQLAlchemy==1.3.19
Flask-SQLAlchemy==2.4.4
Flask-Login==0.5.0
gunicorn==20.1.0
sendgrid==6.9.7
mailjet-rest==1.3.4